@model List<Reservation.ViewModel.UserManagmentViewModel>

<h1>User Management</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["SuccessMessage"]
    </div>
    
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserId</th>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int index = 1;
            foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@user.UserId</td>
                    <td>@user.CPF</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles)</td>

                    @if (user.IsBanned == false)
                    {
                    <td>
                            <a class="btn btn-danger" asp-action="BanUser" asp-route-userId="@user.UserId">Banir</a>

                    </td>

                    @if(!user.Roles.Contains("general"))
                        {
                            <td>
                                <a class="btn btn-danger" asp-action="PromoteToGeneralManager" asp-route-userId="@user.UserId">Promover</a>
                            </td>
                        }
                    }

                    @if (user.Roles.Contains("general"))
                    {
                        <td>
                            <a class="btn btn-danger" asp-action="RemoveGeneralManager" asp-route-userId="@user.UserId">Demitir</a>
                        </td>
                    }
                </tr>

                   
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Nenhum usuário encontrado</td>
            </tr>
        }
    </tbody>
</table>
