@model IEnumerable<ReserveHistory>

<h2>Histórico de Reservas</h2>

@if (!Model.Any())
{
    <p>Você ainda não realizou nenhuma reserva.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Sala</th>
                <th>Data</th>
                <th>Início</th>
                <th>Término</th>
                <th>Preço</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reserve in Model)
            {
                <tr>
                    <td>@reserve.ReserveId</td>
                    <td>@reserve.Room.RoomNumber</td>
                    <td>@reserve.ReserveDate.ToShortDateString()</td>
                    <td>@reserve.ReserveStart</td>
                    <td>@reserve.ReserveEnd</td>
                    <td>@reserve.RentPrice.ToString("C")</td>
                    <td>@reserve.ReserveStatus</td>
                </tr>
            }
        </tbody>
    </table>
}

