@using Reservation.ViewModel
@model EditReportViewModel

<h2>@Model.ReportTitle</h2> <!-- Exibe o título do relatório -->

<h6>@Model.ReportDate</h6> <!-- Exibe a data do relatório -->

<h5>Autor: @Model.ReportCreatedBy</h5> <!-- Exibe o nome do autor do relatório -->



<form asp-action="Edit" method="post">
    <!-- Outros campos do formulário -->

    <div>
        <h4>Arquivos:</h4>
        @foreach (var file in Model.ExistingFiles)// Carrega os Arquivos junto com os nomes
        {
            <div style="display: flex; justify-content: left">

                <div>
                    <a asp-action="DownloadFile" asp-route-fileId="@file.ReportFileId" class="btn btn-primary">Download</a>
                </div>

                <div style="margin-left: 5px; padding: 0; align-items: flex-end">
                    <p>@file.ReportFileName</p>
                </div>
            </div>
        }
    </div>

    <p>@Model.ReportObservation</p>

    @if (User.IsInRole("general")){ // Exibe apenas para o Gerente Geral

        @if (!Model.ReportBanStatus) //Se o status do relatório não for resolvido, exibe o botão de banir
        { 
            <div class="form-check form-switch">
                <input asp-for="ReportBanStatus" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="ReportBanStatus" class="form-check-label" for="flexSwitchCheckDefault">Resolvido</label>
            </div>
        }

        <button type="submit" class="btn btn-success">Salvar</button>

    }
</form>
